<h2>Liste des interventions</h2>

<table class="table">
  <thead>
  <tr>
    <th>Technicien</th>
    <th>Client</th>
    <th>Adresse</th>
    <th>Chaudière</th>
    <th>Date de mise en service</th>
    <th>Date d'intervention</th>
    <th>Numéro de série</th>
    <th>Description</th>
    <th>Temps passé</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let intervention of listInterventions$ | async">
    <tr>
      <td>{{ intervention.technicien }}</td>
      <td>{{ intervention.client }}</td>
      <td>{{ intervention.adresse }}</td>
      <td>{{ intervention.chaudiere }}</td>
      <td>{{ intervention.dateMiseEnService | date }}</td>
      <td>{{ intervention.dateIntervention | date }}</td>
      <td>{{ intervention.numeroSerie }}</td>
      <td>{{ intervention.description }}</td>
      <td>{{ intervention.tempsPasse }}</td>
    </tr>
  </ng-container>
  </tbody>
</table>
