<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center">Formulaire d'intervention</h1>
      <form [formGroup]="formulaire" class="text-center intervention-form">
        <div class="form-group">
          <label for="technicien">Technicien:</label>
          <select class="form-control" id="technicien" formControlName="technicien" required>
            <option *ngFor="let technicien of techniciens | keyvalue" [value]="technicien.key">{{ technicien.value.nom }} {{ technicien.value.prenom }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="client">Client:</label>
          <input type="text" class="form-control" id="client" formControlName="client" required>
        </div>
        <div class="form-group">
          <label for="adresse">Adresse:</label>
          <input type="text" class="form-control" id="adresse" formControlName="adresse" required>
        </div>
        <div class="form-group">
          <label for="marque">Marque de la chaudière:</label>
          <select class="form-control" id="marque" formControlName="marque" required>
            <option *ngFor="let marque of marques" [value]="marque">{{marque}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="modele">Modèle de la chaudière:</label>
          <input type="text" class="form-control" id="modele" formControlName="modele" required>
        </div>
        <div class="form-group">
          <label for="dateMiseEnService">Date de mise en service:</label>
          <input type="date" class="form-control" id="dateMiseEnService" formControlName="dateMiseEnService" required>
        </div>
        <div class="form-group">
          <label for="dateIntervention">Date de l'intervention:</label>
          <input type="date" class="form-control" id="dateIntervention" formControlName="dateIntervention" required>
        </div>
        <div class="form-group">
          <label for="numSerie">Numéro de série:</label>
          <input type="text" class="form-control" id="numSerie" formControlName="numSerie" required>
        </div>
        <div class="form-group">
          <label for="description">Description de l'intervention:</label>
          <textarea class="form-control" id="description" formControlName="description" required></textarea>
        </div>
        <div class="form-group">
          <label for="tempsPasse">Temps passé (en minutes):</label>
          <input type="number" class="form-control" id="tempsPasse" formControlName="tempsPasse" required inputTimeDirective>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="formulaire.invalid" (click)="addIntervention()">ENREGISTRER</button>
      </form>
    </div>
  </div>
</div>

