<div class="container my-5">
  <h1 class="text-center">Bienvenue sur notre projet de gestion d'interventions</h1>
  <p class="text-center lead">Nous vous accompagnons dans la gestion de vos interventions avec notre outil simple et efficace. Suivez vos interventions en temps réel et gagnez en productivité.</p>
  <div class="d-flex justify-content-center my-4">
    <a class="btn btn-primary btn-lg" routerLink="/interventions" role="button" (click)="goToListIntervention()">Voir la liste des interventions</a>
  </div>
</div>
